In [1]:
from google.colab import files
uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [2]:
import pandas as pd
import numpy as np

# Read CSV
df = pd.read_csv("AB_NYC_2019.csv")

# CHECK:
print(df.shape)
df.head()

(48895, 16)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [3]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 4.3MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import category_encoders as ce
import pandas as pd
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [16]:
def accum(neighbourhood_group, neighbourhood, latitude,	longitude, room_type,	minimum_nights,	number_of_reviews,	calculated_host_listings_count,	availability_365, df):
    data = {"neighbourhood_group": neighbourhood_group,
            "neighbourhood": neighbourhood,
            "latitude": latitude,
            "longitude": longitude,
            "room_type": room_type,
            "minimum_nights": minimum_nights,
            "number_of_reviews": number_of_reviews,
            "calculated_host_listings_count": calculated_host_listings_count,
            "availability_365": availability_365}
    
    # Info DataFrame
    info = pd.DataFrame(data, index=[0])

    # Append
    new_df = pd.concat([df, info], axis=0)
    
    return new_df

info = accum("Staten Island", "Port Richmond", 40.615542, -74.14331, "Private room", 10, 0, 0, 60, df)
info.tail()

               id  ... availability_365
48891  36485057.0  ...               36
48892  36485431.0  ...               27
48893  36485609.0  ...                2
48894  36487245.0  ...               23
0             NaN  ...               60

[5 rows x 16 columns]

In [17]:
import warnings
warnings.filterwarnings('ignore')

def preprocessing(df):
  """
  Preprocesses the data.

  Input: DataFrame

  Output: X_train, X_test, y_train, y_test
  """
  # Copying DF
  dfx = df.copy()

  ## EDA
  # Dropping Columns
  dfx.drop(columns=["host_name", "last_review", "reviews_per_month"], inplace = True)

  # Removing -- Custom Outliers
  dfx = dfx[(dfx["price"] > 0) & 
            (dfx["price"] < 10000)]
  
  # New Column -- 'log_price'
  dfx["log_price"] = np.log(dfx["price"].values)


  # Target and Features
  target = "log_price"
  features = ["neighbourhood_group",
              "neighbourhood",
              "latitude",
              "longitude",
              "room_type",
              "minimum_nights",
              "number_of_reviews",
              "calculated_host_listings_count",
              "availability_365"]
  
  # X Features Matrix
  X = dfx[features]

  # y taregt vector
  y = dfx[target]
  
  # Mapping - 'room_type'
  room_type_dict = {"Shared room":1, "Private room":2, "Entire home/apt":3}
  X["room_type"] = X["room_type"].map(room_type_dict)
  # print(X["room_type"])

  # Train Test Split
  X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                      test_size=.2,
                                                      random_state=42)

  # Preprocess Pipeline -- OrdinalEncoder and StandardScaler
  preprocess = make_pipeline(
      ce.OrdinalEncoder(),
      StandardScaler()
  )

  # Fit Transform and Transform Training and Testing Data
  X_train = preprocess.fit_transform(X_train)
  X_test = preprocess.transform(X_test)

  # Create DataFrame for X Matrices
  X_train_df = pd.DataFrame(X_train, columns=features) 
  X_test_df = pd.DataFrame(X_test, columns=features)
  print(X_train_df.shape,
        X_test_df.shape, 
        X_train.shape, 
        X_test.shape, 
        y_train.shape, 
        y_test.shape)

  # Return
  return X_train_df, X_test_df, X_train, X_test, y_train, y_test


# Calling Function
X_train_df, X_test_df, X_train, X_test, y_train, y_test = preprocessing(info)


# # CHECK:
# X_train_df.head()

(39104, 9) (9777, 9) (39104, 9) (9777, 9) (39104,) (9777,)

In [7]:
# neighbourhood_group = "Staten Island" 
#     neighbourhood = "Port Richmond"
#     latitude = 40.615542
#     longitude = -74.14331
#     room_type = "Private room"
#     minimum_nights = 10
#     number_of_reviews = 0
#     calculated_host_listing_count = 0
#     availability_365 = 60

In [25]:
from sklearn.ensemble import RandomForestRegressor

def rfr_function(X_train, y_train):
  
  # Instantiate Model
  rfr = RandomForestRegressor()
  
  # Fit
  rfr.fit(X_train[:-1], y_train[:-1])
  
  # Training Prediction
  train_pred = rfr.predict([X_train[-1]])

  return np.exp(train_pred)

prediction = rfr_function(X_train, y_train)

In [26]:
prediction

array([93.01235648])

In [ ]:
# Defining Function
def df_maker(y_vector, y_pred_vector):
  
  # Training Data
  log_price = pd.DataFrame(y_vector, columns=["log_price"])
  log_price_pred = pd.DataFrame(y_pred_vector, columns=["log_price_pred"])

  unlog_price = np.exp(log_price.values)
  unlog_price = pd.DataFrame(unlog_price, columns=["unlog_price"])

  unlog_pred_price = np.exp(log_price_pred.values)
  unlog_pred_price = pd.DataFrame(unlog_pred_price, columns=["unlog_pred_price"])


  df_logs = pd.concat([log_price, log_price_pred, unlog_price, unlog_pred_price], 
                       axis=1)
  
  return df_logs